<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="'/admission'" class="navbar-brand">Admission Home</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
</nav>
  <br>
  <br>
  <h2 style="text-align: center;">Add Admission Details</h2>
  <br>
  <br>
  <p></p>
    <div class="form">  
      <form>
          <div class="form-group row">
            <label for="hello" class="col-sm-4 col-form-label">Admission ID</label>
            <div class="col-sm-2">
              <input type="text"  style="width: 300px" class="form-control" id="hello" placeholder="1" disabled required>
            </div>
          </div>
          <div class="form-group row">
            <label for="hello" class="col-sm-4 col-form-label">Course ID</label>
            <div class="col-sm-2">
              <input type="text"  style="width: 300px" class="form-control" id="hello" placeholder="100" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="hello" class="col-sm-4 col-form-label">Applicant ID</label>
            <div class="col-sm-2">
              <input type="text"  style="width: 300px" class="form-control" id="hello" placeholder="123456" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="hello" class="col-sm-4 col-form-label">Admission Date</label>
            <div class="col-sm-2">
              <input type="text"  style="width: 300px" class="form-control" id="hello" placeholder="2020-11-11">
            </div>
          </div>
          <div class="form-group row">
            <label for="hello" class="col-sm-4 col-form-label">Admission Status</label>
            <div class="col-sm-2">
              <input type="text"  style="width: 300px" class="form-control" id="hello" placeholder="Applied">
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-md btn-primary">Add Details</button>
        </form>
  </div>