<div class="container">
    <br>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="#">ABC University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login As
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Committee Member</a>
                  <a class="dropdown-item" href="#">Staff</a>
                  <a class="dropdown-item" href="#">Applicant</a>
                </div>
              </li>
                <li class="nav-item">
                    <a [routerLink]="'/admission'" class="navbar-brand font-weight-bold">Register</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
  <div class="container mb-5">
    <div class="d-flex justify-content-center my-4">
        <div class="flex-grow-0 flex-md-grow-0 d-none d-md-block">
            <img src="assets/images/edu.jpg" alt="Image" class="img">
        </div>
    </div>
  </div>
  </div>